body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;

}

h1 {
  text-align: center;
  color: #333;
}

img {
  width: 250px;
  height: 250px;
  
}

#listaUsuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  
}

li {
  display: flex;
  flex-direction: row;
  list-style: none;
  border: solid 1px;
  padding: 10px;
  background-color: white;
  height: fit-content;
  flex-wrap: wrap
  text-align: justify;
};

li img {
  display: flex;

}

p {
  padding: 20px;
  
};

